<nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #cce6a3;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Mapit</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>

    </ul>

  </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="map">
            <agm-map [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="false"
                    (mapClick)="mapClicked($event)">

              <agm-marker *ngFor="let m of markers; let i = index"
                          (markerClick)="clickedMarker(m, i)"
                          [latitude]="m.lat"
                          [longitude]="m.lng"
                          [markerDraggable]="m.draggable"
                          (dragEnd)="markerDragEnd(m, $event)">

              <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                <ng-template>
                  <strong>{{ m.name }}</strong>
                </ng-template>
              </agm-snazzy-info-window>

              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Add New Marker</h4>

              <form (submit)="addMarker()">
                <label>Location Name</label>
                <input type="text" [(ngModel)]="markerName" name="markerName">

                <label>Latitude</label>
                <input type="text" [(ngModel)]="markerLat" name="markerLat">

                <label>Longitude</label>
                <input type="text" [(ngModel)]="markerLng" name="markerLng">

                <label>Draggable</label>
                <select [(ngModel)]="markerDraggable" name="markerDraggable">
                  <option value="no">No</option>
                  <option value="yes">Yes</option>
                </select>
                <input type="submit" value="Map it!">
              </form>
            </div>
          </div>
        </div>
      </div>


    </div><!-- /.container -->
